@import "/src/assets/styles/attributes.scss";

header{
    #hamburger-menu{
        display: none;
    }
    z-index: 2; //perchè se no l'immagine della pizza (relative), nello scorrere va sopra l'header e non saprei in quale altro modo risolverlo
    position: fixed;
    top: 0px;
    box-sizing: border-box;
    padding: $header-padding;
    width: 100%;
    max-height: $header-height;
    background-color: $my-black;
    box-shadow: 0px 7px 15px -5px $my-orange;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        @media screen and (max-width: 768px){
            a{
                display: none;
            }
            #a-img{
                display: block;
            }
            #hamburger-menu{
                display: block;
            }
        }
    }
    img{
        height: calc($header-height - ($header-padding * 2));
    }

}

