@import "/src/assets/styles/attributes.scss";

.card{
    @include card-style-white-orange;
    display: flex;
    flex-direction: row;
    width: 70%;
    aspect-ratio: 16 / 9;
    max-width: 900px;
    transition: 0.2s;
    overflow: hidden;
    &:hover{
        box-shadow: 5px 5px $my-orange, inset 1px 1px 3px #000000;
        cursor: pointer;
        img{
            left: -20%;
        }
    }
    img{
        aspect-ratio: 1 / 1;
        transition: 0.2s;
        position: relative;
        left: -25%;
    }
    .info-pizza{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        p{
            align-self: flex-end;
            font-size: 2rem;
            font-weight: bold;
        }
        .ingredients{
            h4{
                border-bottom: 1px $my-black solid;
            }
            ul{
                padding-left: 15px;
                li{
                    font-size: 0.7rem;
                }
            }
        }

    }
}