@import "/src/assets/styles/attributes.scss";

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:$my-white;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 7px 7px 0px 0px $my-orange;
    transition: 0.2s;
    overflow: hidden;
    &:hover{
        box-shadow: 4px 4px 0px $my-orange, inset 1px 1px 3px #000000;
        cursor: pointer;
        img{
            left: -20%;
        }
    }
    img{
        transition: 0.2s;
        position: relative;
        left: -25%;
    }


    .info-pizza{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        p{
            align-self: flex-end;
        }
        .ingredients{
            h4{
                border-bottom: 1px $my-black solid;
            }
            ul{
                padding-left: 15px;
                li{
                    font-size: 0.7rem;
                }
            }
        }

    }
}